# Flutter build files
build/
.dart_tool/
.packages
.pub-cache/
.pub/
generated_plugin_registrant.dart
*.iml
.idea/
*.log
*.tmp

# System files
System Volume Information/
.BIN/
Thumbs.db

# Other projects
lab_2/
flutter/
